html {
    height: 100%;
}

body {
	background: url('/static/img/background.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.container {
    margin-top: 3em;
    max-width: 60em;
}

header {
    color: #fff;
    font-size: 2em;
    margin-bottom: 1em;
}