html {
    height: 100%;
}

body {
	background: url('/static/img/background.png');
    background-color: #137bd7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin-top: 3em;
    max-width: 60em;
    position: relative;
}

header {
    color: #fff;
    font-size: 2em;
    margin-bottom: 1em;
}

.animation-container {
    position: relative;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.animation.ng-enter, .animation.ng-leave{
    transition: all 500ms;
    -webkit-transition: all 500ms;
}
.animation.ng-enter{
    transform: translateY(-10%);
    opacity: 0;
}
.animation.ng-enter.ng-enter-active{
    transform: translateY(0%);
    opacity: 1;
}
.animation.ng-leave{
    transform: translateY(0%);
    opacity: 1;
}
.animation.ng-leave.ng-leave-active{
    transform: translateY(75%);
    opacity: 0;
}

div.flight-selection .dropdown {
    margin: 10px;
}

nav {
    position: absolute;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    left: -1.7em;
}

nav a {
    display: block;
    opacity: 0.5;
    margin-bottom: 0.2em;
    color: #fff;
}

nav span {
    display: block;
    font-size: 0.25em;
    margin-top: -1.5em;
    padding: 0.2em;
}

nav a.active {
    opacity: 1;
    color: #fff;
}

nav a:focus {
    text-decoration: none;
}

nav a:hover, nav a:active, nav a:visited {
    transform: scale(1.2);
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

button {
    background-color: #ffd54f;
}
button i {
    margin-left: 1em;
}

@media (max-width: 767px) {
    nav {
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 10;
        width: 100%;
        background-color: #1465CF;
    }
    nav a {
        display: inline-block;
        margin: 0 2em;
    }
}