<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Flexifly</title>
	<base href="/">
	<script src="http://code.angularjs.org/1.4.7/angular.js"></script>
	<script src="http://code.angularjs.org/1.4.7/angular-route.js"></script>
	<script src="http://code.angularjs.org/1.4.7/angular-animate.js"></script>

	<script type="text/javascript" src="static/js/app.js"></script>
	<script type="text/javascript" src="static/js/flight-box.js"></script>
	<script type="text/javascript" src="static/js/controllers/LoginCtrl.js"></script>
	<script type="text/javascript" src="static/js/controllers/FindOffersCtrl.js"></script>
	<script type="text/javascript" src="static/js/controllers/AddOffersCtrl.js"></script>
	<script type="text/javascript" src="static/js/controllers/MyOffersCtrl.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
</head>
<body>
	<div class="container">
		<header class="text-center">
			<a href="/">
				<img src="static/img/flexifly_logo.png" width="160" alt="Flexifly">
			</a>
		</header>
		<div class="animation-container">
			<div ng-view class="animation"></div>
		</div>
	</div>
</body>
</html>
