<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Flexifly</title>
	<base href="/">
	{% assets "js_all" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

	<script type="text/javascript" src="static/js/app.js"></script>
	<script type="text/javascript" src="static/js/controllers/login.controller.js"></script>
	<script type="text/javascript" src="static/js/controllers/all_orders.controller.js"></script>
	<script type="text/javascript" src="static/js/controllers/create_order.controller.js"></script>
	<script type="text/javascript" src="static/js/controllers/user_orders.controller.js"></script>

	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
</head>
<body>
	<div class="container">
		<header><i class="fa fa-plane"></i> Flexifly</header>
		<div ng-view></div>
	</div>
</body>
</html>
